.personalNav li{
	height: 50px;
	width: 80%;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	cursor: pointer;
}
.personalNav li:hover{
	background-color: rgba(205,201,165,.6);
}
.personalNav .on{
	background-color: rgba(205,201,165,.7);
}
