<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../common/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../common/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="../common/header.css" />
    <link rel="stylesheet" href="home.css" />
    <script src="../common/jquery-2.1.1.min.js"></script>
    <script src="../common/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../common/header.js" ></script>
    <script type="text/javascript" src="/PCAdmin/js/template.js"></script>
    <script type="text/javascript" src="student.js"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .site-header{
        min-height: 80px;
    }
    section{
        padding: 0 10px;
        max-width: 1200px;
        margin:0 auto;
        margin-top: 20px;
    }
    .contentPart{
        margin-top: 40px;
    }
    .contentPart .form-group{
        margin: 10px 0;
    }
    .contentPart .form-group label{
        height:34px;
        line-height:34px;
    }
    .contentPart .form-group label em{
        color: #ff0000;
    }
    .contentPart .alertInfo{
        padding: 10px 0; 
        margin-bottom: 20px;
        text-align: center;
        color: #ff0000;
        background: rgba(255,0,0,.1);
    }
    .contentPart .alertInfo i{
        padding-right: 10px;
    }
</style>
<body>
<header class="site-header">
    <div class="navBar">
        <nav>
            <a href="../common/index.html" class="webName"><span>琴行</span>Machold Rare Violins</a>
            <ul class="headUL">
                <li><a href="../common/index.html">首页</a></li>
                <li><a href="../common/class.html">课程</a></li>
                <li><a href="../common/knowledge.html">知识</a></li>
                <li><a href="../common/aboutUs.html">关于我们</a></li>
                <li class="none"><button class="btn btn-log">登陆</button></li>
                <li class="none"><button class="btn btn-log">注册</button></li>
                <li class="showName none">
                    <a href="javascript:;" class="active">Cynthia</a>
                    <div class="logOut none" style="position: absolute;">注销登录</div>
                </li>
                <!--<li class="showName"><a href="myClass.html" class="active">Cynthia</a></li>-->
            </ul>
            <div class="listNav"><i class="fa fa-bars"></i></div>
        </nav>
    </div>
</header>
<div class="sliderBar none">
    <ul class="slider-ul">
        <li><a href="../common/index.html" class="active">首页</a></li>
        <li><a href="../common/class.html">课程</a></li>
        <li><a href="../common/knowledge.html">知识</a></li>
        <li><a href="../common/aboutUs.html">关于我们</a></li>
        <li class="none"><button class="btn btn-log">登陆</button></li>
        <li class="none"><button class="btn btn-log">注册</button></li>
        <li class="showName"><a href="myClass.html" class="active">Cynthia</a></li>
    </ul>
</div>
<section>
    <div class="row">
        <div class="col-md-3 personalNav">
            <ul>
                <!-- <li>我的课表</li> -->
                <li>我的消息</li>
                <li>我要请假</li>
                <li>课后作业</li>
                <li>已购课程</li>
                <li class="on">个人设置</li>
            </ul>
        </div>
        <div class="col-md-9">
            <ul class="subTopNav">
                <li class="on">修改个人信息</li>
                <li>修改密码</li>
            </ul>
            <div class="contentPart personalInfo">
            </div>
            <script id="personalInfoItems" type="text/html">
                <div class="form-group clearfix none">
                    <div class="col-sm-10 clearfix">
                       <div class="alertInfo"><i class="fa fa-warning"></i><span></span></div>
                    </div>
                 </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">用户姓名<em>*</em></label>
                    <div class="col-sm-8">
                        <input type="text" id="name" value="{{item.name}}" class="form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">手机号码<em>*</em></label>
                    <div class="col-sm-8">
                        <input type="text" id="mobile" value="{{item.mobile}}" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄<em>*</em></label>
                    <div class="col-sm-8">
                        <input type="text" id="age" class="form-control" value="{{item.age}}">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别<em>*</em></label>
                    <div class="col-sm-8">
                        <select id="sex" class="form-control">
                            <option value="0" {{if item.sex==0}}selected{{/if}}>男</option>
                            <option value="1" {{if item.sex==1}}selected{{/if}}>女</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">个人简介</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="shortIntro" rows="5">{{item.short_intro}}</textarea>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8 clearfix">
                        <button class="fr submit" id="submitInfo" style="margin-right: 0;margin-top: 20px;">确认修改</button>
                    </div>
                 </div>
            </script>
            <div class="contentPart passwordPart none">
                <div class="form-group clearfix none">
                    <div class="col-sm-10 clearfix">
                       <div class="alertInfo"><i class="fa fa-warning"></i><span></span></div>
                    </div>
                 </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">旧密码<em>*</em></label>
                    <div class="col-sm-8">
                        <input type="password" id="oldPwd" class="form-control" placeholder="请输入旧密码">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">新密码<em>*</em></label>
                    <div class="col-sm-8">
                        <input type="password" id="newPwd" class="form-control" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label">确认新密码<em>*</em></label>
                    <div class="col-sm-8">
                        <input type="password" id="reNewPwd" class="form-control" placeholder="请再次输入新密码">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8 clearfix">
                        <button class="fr submit" id="submitPwd" style="margin-right: 0;margin-top: 20px;">确认修改</button>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
</body>
<script type="text/javascript">
    loadUserInfos();
    $('.subTopNav li').click(function(){
        if($(this).hasClass('on')){
            return;
        }
        $('.subTopNav li').removeClass('on');
        if($(this).index()==0){
            $(this).addClass('on');
            loadUserInfos();
            $('.personalInfo').show();
            $('.passwordPart').hide();
        }else{
            $(this).addClass('on');
            $('.personalInfo').hide();
            $('.passwordPart').show();
        }
    });

    $(document).delegate('#submitInfo','click',function(){
        var username = $('#name').val();
        var age = $('#age').val();
        var sex = $('#sex option:selected').val();
        var shortIntro = $('#shortIntro').val();
        if(username==''){
            $('.personalInfo .alertInfo').parent().parent().slideUp();
            $('.personalInfo .alertInfo span').html('用户姓名不能为空哦~');
            $('.personalInfo .alertInfo').parent().parent().slideDown();
            return;
        }
        if(age==''){
            $('.personalInfo .alertInfo').parent().parent().slideUp();
            $('.personalInfo .alertInfo span').html('请填写您的年龄哦~');
            $('.personalInfo .alertInfo').parent().parent().slideDown();
            return;
        }
        $.ajax({
            url: '/PCAdmin/php/editUser.php',
            type: 'post',
            dataType: 'json',
            data: {
                id: sessionStorage.getItem('userId'),
                name: username,
                age: age,
                sex: sex,
                shortIntro: shortIntro,
                type: 2
            },
            success: function(res){
                if(res.success){
                    alert('修改成功');
                    window.location.reload();
                }else{
                    $('.personalInfo .alertInfo').parent().parent().slideUp();
                    $('.personalInfo .alertInfo span').html('修改失败，请再试一次吧~');
                    $('.personalInfo .alertInfo').parent().parent().slideDown();
                }
            }
        });
    });

    $('#submitPwd').click(function(){
        var oldPwd = $('#oldPwd').val();
        var newPwd = $('#newPwd').val();
        var reNewPwd = $('#reNewPwd').val();
        if(oldPwd==''){
            $('.passwordPart .alertInfo').parent().parent().slideUp();
            $('.passwordPart .alertInfo span').html('请输入旧密码');
            $('.passwordPart .alertInfo').parent().parent().slideDown();
            return;
        }
        if(newPwd==''){
            $('.passwordPart .alertInfo').parent().parent().slideUp();
            $('.passwordPart .alertInfo span').html('请输入新密码');
            $('.passwordPart .alertInfo').parent().parent().slideDown();
            return;
        }
        if(reNewPwd==''){
            $('.passwordPart .alertInfo').parent().parent().slideUp();
            $('.passwordPart .alertInfo span').html('请再次输入新密码');
            $('.passwordPart .alertInfo').parent().parent().slideDown();
            return;
        }
        if(newPwd.length<6||newPwd.length>20){
            $('.passwordPart .alertInfo').parent().parent().slideUp();
            $('.passwordPart .alertInfo span').html('请控制密码长度在6~20之间');
            $('.passwordPart .alertInfo').parent().parent().slideDown();
            return;
        }
        if(newPwd != reNewPwd){
            $('.passwordPart .alertInfo').parent().parent().slideUp();
            $('.passwordPart .alertInfo span').html('两次输入的密码不一样');
            $('.passwordPart .alertInfo').parent().parent().slideDown();
            return;
        }
        $.ajax({
            url: '/PCAdmin/php/editPassword.php',
            type: 'post',
            dataType: 'json',
            data:{
                mobile:sessionStorage.getItem('mobile'),
                oldPwd:oldPwd,
                newPwd:newPwd
            },
            success: function(res){
                if(res.success){
                    alert('密码修改成功');
                    window.location.reload();
                }else{
                    $('.passwordPart .alertInfo').parent().parent().slideUp();
                    $('.passwordPart .alertInfo span').html(res.errorMsg);
                    $('.passwordPart .alertInfo').parent().parent().slideDown();
                    return;
                }
            }
        });
    });

    function loadUserInfos(){
        $.ajax({
            url: '/PCAdmin/php/getUserInfo.php',
            type: 'post',
            dataType: 'json',
            data: {
                id: sessionStorage.getItem('userId')
            },
            success: function(res){
                if(res.success){
                    var item = res.data;
                    var html = template('personalInfoItems',{item:item});
                    $('.personalInfo').html(html);
                }
            }
        })
    }
</script>
</html>
